@use '../base/variables' as v;

html {
    box-sizing: border-box; /*hack par box model*/
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit; /*hack par box model*/
}

body {
    font-size: 16px;
    background-color: v.$very-dark-blue;
    font-family: v.$fuente-principal;
}

.attribution {
    margin-top: 6rem;
    font-size: 11px;
    text-align: center;
    color: v.$white;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

.card {
    max-width: calc(v.$mobile * .9);
    background: linear-gradient(144deg, #1e242f 0%, #1c232d 99%);
    border-radius: 2rem;
    display: flex;
    height: 40.1rem;
    margin: auto;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
.contenedor{
    
    margin: 2rem;
}
h1,h2,p {
    color: white;
}
li {
    color: v.$light-grey;
    list-style: none;
}
.invisible {
    display: none;
}

