@use '../base/variables' as v;
@use '../base/mixins' as m;

html {
    box-sizing: border-box; /*hack par box model*/
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit; /*hack par box model*/
}

body {
    font-size: 16px;
    background-color: v.$very-dark-blue;
    font-family: v.$fuente-principal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    user-select: none;
}



.card {
    max-width: calc(v.$mobile * .9);
    background: linear-gradient(144deg, #1e242f 0%, #1c232d 99%);
    border-radius: 2rem;
    display: flex;
    height:v.$mobile;
    margin: auto;
    justify-content: center;
    align-items: center;
    //position: absolute;
    //top: 0; right: 0; bottom: 0; left: 0;
    @include m.mobile{ 
        max-width: v.$mobile;        
    }
}
.contenedor{
    
    margin: 2rem;
}
h1,h2,p {
    color: white;
}
// h2 {
//     letter-spacing: 0.1rem;
// }
p{
    font-size: 1.5rem;
}
input {
    color: v.$light-grey;
}
.invisible {
    display: none;
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
    color: v.$white;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);

  }