

// Tamaños de pantalla

$mobile: 37.5rem;
$desktop: 144rem;

// colores

    // primarios
    $orange: hsl(25, 97%, 53%);

    // Neutrales
    $white: hsl(0, 0%, 100%);
    $light-grey: hsl(217, 12%, 63%);
    $medium-grey: hsl(216, 12%, 54%);
    $dark-blue: hsl(213, 19%, 18%);
    $very-dark-blue: hsl(216, 12%, 8%);

    $notanoscuro: hsl(215, 27%, 12%);
    $fondo: hsl(228, 11%, 9%);


// Fuentes

$paragraph: 1.5rem;
$fuente-principal: 'Overpass', sans-serif;
