@use '../base/variables' as v;

.image-phone {
    background-image: url(/build/img/illustration-thank-you.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width:16.2rem;
    height: 10.8rem;
    margin: 2rem auto;
}

.rating {
    background-color: v.$dark-blue;
    width:fit-content;
    margin: 0 auto;
    border-radius: 2rem;
    h2{
        color: v.$orange;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 1rem;
        
    }
}

.thanks-state {
    h1{
        text-align: center;
    }
    .appreciate {
        color: v.$medium-grey;
        margin: 1rem;
    }
}